## Sets
> A set is an unordered collection of unique elements. 
It is represented by **curly braces {} or the set() function**.<br>
Here are some key characteristics and differences of sets compared to lists, dictionaries, and tuples:

- **Uniqueness**: Sets only contain unique elements. If you try to add a duplicate element to a set, it will be ignored.

- **Ordering**: Sets do not preserve the order of elements. **The elements in a set are unordered**, and the order in which they are stored may not necessarily match the order in which they were added. Lists and tuples maintain the order of elements, while dictionaries and sets do not guarantee any specific order.
- **Mutability**: Sets are mutable, meaning you can add or remove elements from a set after it is created. Lists and dictionaries are also mutable, allowing modifications to their elements, while tuples are immutable.
- **Elements**: Sets can contain elements of different data types, including numbers, strings, and other objects. However, unlike lists and tuples, sets do not allow elements that are mutable, such as lists or dictionaries. **Each element in a set must be immutable**

In [ ]:
# set.add(element): Adds an element to the set.
fruits = {'apple', 'banana', 'orange'}
fruits.add('mango')
print(fruits)  # Output: {'apple', 'banana', 'orange', 'mango'}

# set.remove(element): Removes an element from the set.
fruits = {'apple', 'banana', 'orange'}
fruits.remove('banana')
print(fruits)  # Output: {'apple', 'orange'}

# set.discard(element): Removes an element from the set if it exists, 
# without raising an error if the element is not found.
fruits = {'apple', 'banana', 'orange'}
fruits.discard('grape')
print(fruits)  # Output: {'apple', 'banana', 'orange'}


# set.pop(): Removes and returns an arbitrary element from the set.
fruits = {'apple', 'banana', 'orange'}
removed_element = fruits.pop()
print(removed_element)  # Output: 'apple'
print(fruits)  # Output: {'banana', 'orange'}

# set.clear(): Removes all elements from the set.
fruits = {'apple', 'banana', 'orange'}
fruits.clear()
print(fruits)  # Output: set()


# set.copy(): Returns a shallow copy of the set.
fruits = {'apple', 'banana', 'orange'}
fruits_copy = fruits.copy()
print(fruits_copy)  # Output: {'apple', 'banana', 'orange'}

# set.update(iterable): Updates the set by adding elements from an iterable or another set.
fruits = {'apple', 'banana'}
new_fruits = {'mango', 'grape'}
fruits.update(new_fruits)
print(fruits)  # Output: {'apple', 'banana', 'mango', 'grape'}

# set.union(other_set) or set | other_set: Returns a new set that is the union of the set and another set.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}


# set.intersection(other_set) or set & other_set: 
# Returns a new set that is the intersection of the set and another set.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {3}

# set.difference(other_set) or set - other_set: 
# Returns a new set that contains elements in the set but not in another set.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1.difference(set2)
print(difference_set)  # Output: {1, 2}

# set.symmetric_difference(other_set) or set ^ other_set: 
# Returns a new set that contains elements present in either the set or another set, but not both.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)  # Output: {1, 2, 4, 5}

# set.issubset(other_set) or set <= other_set: 
# Checks if all elements of the set are present in another set.
set1 = {1, 2}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
print(is_subset)  # Output: True

# set.issuperset(other_set) or set >= other_set: 
# Checks if all elements of another set are present in the set.
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2}
is_superset = set1.issuperset(set2)
print(is_superset)  # Output: True

is_superset = set2.issuperset(set1)
print(is_superset)  # Output: False

# set.isdisjoint(other_set): 
# Checks if the set has no elements in common with another set.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_disjoint = set1.isdisjoint(set2)
print(is_disjoint)  # Output: True

# len(set): Returns the number of elements in the set.
fruits = {'apple', 'banana', 'orange'}
length = len(fruits)
print(length)  # Output: 3

In [1]:
## Sets are un-ordered collections of data with no duplicates

my_set = {1,6,2,'java','ruby',8,9,10,21,1000,'python'}
print(my_set)

{1, 2, 6, 'ruby', 8, 9, 10, 1000, 'python', 21, 'java'}

In [2]:
# If you have a list with duplicates, you can cast it to a set
# to get rid of duplicates fast
my_list = [1,6,2,'java','ruby',8,9,10,21,1000,6,'python','java']
print(my_list)
my_set = set(my_list)
print(my_set)

[1, 6, 2, 'java', 'ruby', 8, 9, 10, 21, 1000, 6, 'python', 'java']
{1, 2, 6, 'ruby', 8, 9, 10, 1000, 'python', 21, 'java'}

In [3]:
# You can find information in sets using 'in'
print('java' in my_set)

True

In [ ]:
# You can iterate through items in a set using a simple for loop
for item in my_set:
    print(item)

In [1]:
# Creating Set
mySet = {'a', 'b', 'c'}
mySet

{'a', 'b', 'c'}

In [4]:
# Another way to create Set
mySet = set(('a', 'b', 'c'))
mySet

{'a', 'b', 'c'}

In [5]:
# Remove duplicate from the list
myList = ['a', 'b', 'b', 'c', 'c']
myList = list(set(myList))
myList

['a', 'b', 'c']

In [6]:
mySet[0]

TypeError: 'set' object is not subscriptable

In [7]:
number = 1
1[0]

<>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
/var/folders/fl/tpkdpqfn7qj8x03js4wtflc00000gn/T/ipykernel_85667/2203923273.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  1[0]
/var/folders/fl/tpkdpqfn7qj8x03js4wtflc00000gn/T/ipykernel_85667/2203923273.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  1[0]
/var/folders/fl/tpkdpqfn7qj8x03js4wtflc00000gn/T/ipykernel_85667/2203923273.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  1[0]

TypeError: 'int' object is not subscriptable

In [9]:
# Adding element to Set
mySet.add('d')
mySet

{'a', 'b', 'c', 'd'}

In [10]:
'a' in mySet

True

In [11]:
'z' in mySet

False

In [12]:
len(mySet)

4

In [13]:
while len(mySet):
    print(mySet.pop())

a
b
c
d

In [15]:
mySet

set()

In [16]:
mySet = {'a', 'b', 'c'}

In [17]:
# Removing element from Set
mySet.discard('a')

In [18]:
mySet

{'b', 'c'}

## Tuples
> A tuple is an ordered, immutable collection of elements. It is represented by parentheses () and can contain elements of different types. Here are some key characteristics and differences of tuples compared to lists, dictionaries, and sets.

- **Immutability**: Tuples are immutable, meaning their elements cannot be changed once the tuple is created

- **Ordering**: Tuples preserve the order of elements. The position of each element in a tuple is fixed and has a specific index.

- **Elements**: Tuples can contain elements of different data types, including numbers, strings, lists, dictionaries, and even other tuples. Lists and tuples allow mixed data types, while dictionaries and sets typically have elements of the same type.

- **Indexing and Slicing**: Tuples, like lists, support indexing and slicing operations
Usage: Tuples are commonly used to store related pieces of data that are not intended to be modified, such as coordinates, database records, or configuration settings. They are often used in situations where immutability and order preservation are desired

> Note: 
- Lists and tuples allow mixed data types, while dictionaries and sets typically have elements of the same type.
- Lists, dictionaries, and sets are more flexible in terms of modifications and can be resized, updated, or modified as needed. They are often used when dynamic changes to the collection are required

In [ ]:
# tuple.count(element): 
#Returns the number of occurrences of a specified element in the tuple.
fruits = ('apple', 'banana', 'orange', 'apple')
count = fruits.count('apple')
print(count)  # Output: 2

# tuple.index(element): 
# Returns the index of the first occurrence of a specified element in the tuple.
fruits = ('apple', 'banana', 'orange', 'apple')
index = fruits.index('banana')
print(index)  # Output: 1

# len(tuple): 
# Returns the number of elements in the tuple.
fruits = ('apple', 'banana', 'orange')
length = len(fruits)
print(length)  # Output: 3

# tuple + another_tuple: 
# Concatenates two tuples and returns a new tuple.
fruits = ('apple', 'banana')
more_fruits = ('orange', 'mango')
all_fruits = fruits + more_fruits
print(all_fruits)  # Output: ('apple', 'banana', 'orange', 'mango')

# tuple * n or n * tuple: 
# Repeats the elements of the tuple n times and returns a new tuple.
fruits = ('apple', 'banana')
repeated_fruits = fruits * 3
print(repeated_fruits)  # Output: ('apple', 'banana', 'apple', 'banana', 'apple', 'banana')

# tuple[start:end:step]: 
# Returns a new tuple with elements from the start index (inclusive) to the end index (exclusive), with a specified step size.
numbers = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
subset = numbers[2:8:2]
print(subset)  # Output: (2, 4, 6)

In [19]:
myTuple = ('a', 'b', 'c')
myTuple

('a', 'b', 'c')

In [20]:
myTuple[0]

'a'

In [21]:
# Tuple is immutable
myTuple[0] = 'd'

TypeError: 'tuple' object does not support item assignment

In [27]:
def returnsMultipleValues():
    return 1,2,3

type(returnsMultipleValues())

tuple

In [26]:
myTuple = (1,2,3)

In [25]:
type(myTuple)

tuple

In [28]:
a, b, c = returnsMultipleValues()

In [29]:
print(a)
print(b)
print(c)

1
2
3

In [12]:
my_random_tuple = ('first',4,5,8,'hi there',5,2,1,9,10)
## Write your code below

for item in my_random_tuple:
    print(item)

first
4
5
8
hi there
5
2
1
9
10

## Questions

In [ ]:
'''
Question 1: 
Create an empty set called my_ints, once it's created
use the type function (along with print) to print the type of my_ints.
'''

In [ ]:
'''
Solution 1: 
Create an empty set called my_ints, once it's created
use the type function (along with print) to print the type of my_ints.
'''
my_ints = set()
print(type(my_ints))

In [ ]:
'''
Question 2: 
Given the list below, convert it to a set named my_set and then
cast it back to a list called my_unique_list which only includes unique
elements. No print required.
'''

In [ ]:
'''
Solution 2: 
Given the list below, convert it to a set named my_set and then
cast it back to a list called my_unique_list which only includes unique
elements. No print required.
'''
my_list = [1,1,'rails',7,6,2,'java','ruby',8,9,10,21,'rails',7,2,1000,6,'python','java']
my_set = set(my_list)
my_unique_list = list(my_set)

In [ ]:
'''
Question 3: 
Add the int 8 to my_ints you created in question 1. Print the
output when you run the intersection method on my_ints and pass it my_set
(created in question 2) as the argument.
'''

In [ ]:
'''
Solution 3: 
Add the int 8 to my_ints you created in question 1. Print the
output when you run the intersection method on my_ints and pass it my_set
(created in question 2) as the argument.
'''
my_ints.add(8)
print(my_ints.intersection(my_set))

In [ ]:
'''
 Question 4: 
 Test (and print) if 'rails' is in my_set
'''

In [ ]:
'''
 Solution 4: 
 Test (and print) if 'rails' is in my_set
'''
print('rails' in my_set)

In [ ]:
'''
Question 5: 
Given the tuple below, use a simple for loop and print out all
the elements in it (no special formatting).
'''

In [ ]:
'''
Solution 5: 
Given the tuple below, use a simple for loop and print out all
the elements in it (no special formatting).
'''
my_random_tuple = ('first',4,5,8,'hi there',5,2,1,9,10)

for item in my_random_tuple:
    print(item)