__[Int and Float](#int-float)__

__[Maths](#maths)__

__[Assignment](#assignment)__

## Int Float
 >  Numbers - Integers, floats, math, type casting, user input
 
 >  Documentation on integers and floats can be found below:
 >https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex

In [1]:
# To check the type of an object, use the type function, example below
num_1 = 10
print(type(num_1)) # This should return class 'int'

<class 'int'>

In [2]:
# Standard math operations can be performed using +, -, *, /
print(4+4) # output 8
print(10-5) # output 5
print(10*2) # output 20
print(10/2) # output 5.0

8
5
20
5.0

In [3]:
# Division will give you a float (decimal value number) by default
# To perform floor division, or remove the decimal you can use //
print(10//3) # output 3

3

In [4]:
# You can use the mod operator % to find the remainder
print(10%3) # output 1
print(10%2) # output 0

1
0

In [5]:
# To take a number to the power of another number, you can use
# the ** operator
print(5**2) # output 25 (this is 5 squared)
print(5**3) # output 125 (this is 5 cubed)

25
125

In [6]:
# You can import the math module and use functions provided by it
import math
print(math.pow(10,5)) # output 100000.0, this is 10 to the power 5

100000.0

In [7]:
# Similarly you can import the random module and generate random
# integers using the randint function
import random
print(random.randint(0,1000))   
# output random integer between 0 and 1000

405

In [8]:
# You can use other functions on numbers as well
# abs or absolute value function will remove the negative sign from the number, output 10
num_2 = -10
print(abs(num_2))

10

In [9]:
# To convert the string "10" to the int 10, you can cast it to an int
my_string = "10"
my_num = int(my_string) # this will convert "10" to int 10
print(type(my_num)) # output will be class 'int'

<class 'int'>

In [10]:
# Similarly you can convert an int to a string, 10 to "10"
# by casting it to a string
my_new_string = str(my_num) # this will convert 10 to "10"
print(type(my_new_string)) # output will be class 'str'

<class 'str'>

In [11]:
# using input from the user using the input function
print("Welcome to the multiplication program")
print("-"*30)
num_1 = int(input("Enter a number to multiply-> "))
num_2 = int(input("Enter a second number to multiply-> "))
result = num_1 * num_2
print(result)

Welcome to the multiplication program
------------------------------
4

In [7]:
"""
Question 1:
A way to test if a number, let's say num, is even or odd is to use the mod operator
 and check the remainder when mod of 2 is used on the number.
 So if num % 2  is 1, is the number even or odd? 
 What if num % 2 is 0, is the number even or odd?
"""
num = int(input("Enter number to check if it is even/odd: "))
if (num % 2 == 0): 
    print(f'number {num} is even')
elif (num % 2 == 1): print(f'number {num} is odd')

else:
    print(f'{num} is not a number')

number 12 is even

## Maths

In [2]:
20 / 4

5.0

In [3]:
4 + 4.0

8.0

In [4]:
4 * 4.0

16.0

In [5]:
4 ** 4.0

256.0

In [6]:
int(4 ** 4.0)

256

In [7]:
int(8.9)

8

In [8]:
int(8.99999999)

8

In [9]:
int(14/3)

4

In [11]:
round(14/3, 2)

4.67

In [12]:
1.2 - 1.0

0.19999999999999996

In [13]:
14/3

4.666666666666667

In [15]:
round(1.2 - 1.0, 2)

0.2

## Assignment

In [ ]:
'''
Question 1: 
Given the 4 numbers below, fill in the code
for the 8 lines below to provide the appropriate output
'''
num_1 = 10
num_2 = 300
num_3 = 27.0
num_4 = -10
print(f"Calculations section:\nnum_1-> {num_1}\nnum_2-> {num_2}\nnum_3-> {num_3}\nnum_4-> {num_4}")
print(f"{num_1} multiplied by {num_2} is: **fill in the code here**")
print(f"{num_3} divided by {num_1} is: **fill in the code here**")
print(f"If I use floor division instead I get: **fill in the code here**")
print(f"The absolute value of {num_4} is: **fill in the code here**")
print(f"I converted {num_1} and {num_2} to strings, if I add them I get: **fill in the code here**")
print(f"{num_4} is of the **fill in the code here** class")
print("-"*40)
print()

In [10]:
'''
Solution 1: 
Given the 4 numbers below, fill in the code
for the 8 lines below to provide the appropriate output
'''
num_1 = 10
num_2 = 300
num_3 = 27.0
num_4 = -10
print(f"Calculations section:\nnum_1-> {num_1}\nnum_2-> {num_2}\nnum_3-> {num_3}\nnum_4-> {num_4}")
print(f"{num_1} multiplied by {num_2} is: {num_1*num_2}")
print(f"{num_3} divided by {num_1} is: {num_3/num_1}")
print(f"If I use floor division instead I get: **fill in the code here**")
print(f"The absolute value of {num_4} is: {abs(num_4)}")
print(f"I converted {num_1} and {num_2} to strings, if I add them I get: {str(num_1)} and {str(num_2)}")
print(f"{num_4} is of the {type(num_4)} class")
print("-"*40)
print()

Calculations section:
num_1-> 10
num_2-> 300
num_3-> 27.0
num_4-> -10
10 multiplied by 300 is: 3000
27.0 divided by 10 is: 2.7
If I use floor division instead I get: **fill in the code here**
The absolute value of -10 is: 10
I converted 10 and 300 to strings, if I add them I get: 10 and 300
-10 is of the <class 'int'> class
----------------------------------------

In [3]:
'''
Question 2a: Use two tabs to separate the evaluated variables in the string
below. 
Expected output:
Added:     Price updater
Begin:     17:30:00
End:       18:30:00
'''
name_of_job = "Price updater"
begin_time = "17:30:00"
end_time = "18:30:00"
print(f"Added: {name_of_job}")
print(f"Begin: {begin_time}")
print(f"End: {end_time}")
print("-"*40)
print()

Added: Price updater
Begin: 17:30:00
End: 18:30:00
----------------------------------------

In [ ]:
'''
Solution 2a: Use two tabs to separate the evaluated variables in the string
below. 
Expected output:
Added:     Price updater
Begin:     17:30:00
End:       18:30:00
'''
name_of_job = "Price updater"
begin_time = "17:30:00"
end_time = "18:30:00"
print(f"Added:\t\t {name_of_job}")
print(f"Begin:\t\t {begin_time}")
print(f"End:\t\t {end_time}")
print("-"*40)
print()

Added:		 Price updater
Begin:		 17:30:00
End:		 18:30:00
----------------------------------------

In [4]:
'''
Question 2b: Use new lines in addition to the two tabs noted above to
separate the evaluated variables in the string below.
Expected output:
Added:     Price updater
Begin:     17:30:00
End:       18:30:00
'''
print(f"Added: {name_of_job} Begin: {begin_time} End: {end_time}")
print("-"*40)
print()

Added: Price updater Begin: 17:30:00 End: 18:30:00
----------------------------------------

In [5]:
'''
Solution 2b: Use new lines in addition to the two tabs noted above to
separate the evaluated variables in the string below.
Expected output:
Added:     Price updater
Begin:     17:30:00
End:       18:30:00
'''
print(f"Added:\t\t{name_of_job} \nBegin: \t\t{begin_time} \nEnd: \t\t{end_time}")
print("-"*40)
print()

Added:		Price updater
Begin: 		17:30:00
End: 		18:30:00
----------------------------------------

In [6]:
# Question 3: Use the .format method to update the line below
print(name_of_job, "scheduled to begin at", begin_time, "and end at", end_time)
print("-"*40)
print()

Price updater scheduled to begin at 17:30:00 and end at 18:30:00
----------------------------------------

In [7]:
# Solution 3: Use the .format method to update the line below
print(name_of_job, "scheduled to begin at", begin_time, "and end at", end_time)
print("{} scheduled to begin at {} and end at {}".format(name_of_job,begin_time,end_time))
print("-"*40)
print()

Price updater scheduled to begin at 17:30:00 and end at 18:30:00
Price updater scheduled to begin at 17:30:00 and end at 18:30:00
----------------------------------------

In [ ]:
# Question 4: Use the pow function from math module to evaluate 2 to the
# power of 5, or 2^5
import math
print("2 to the power of 5 is listed below...")
print("**fill in code here**")
print("-"*40)
print()

In [8]:
# Solution 4: Use the pow function from math module to evaluate 2 to the
# power of 5, or 2^5
import math
print("2 to the power of 5 is listed below...")
print(math.pow(2,5)) #Return x**y (x to the power of y).
print("-"*40)
print()

2 to the power of 5 is listed below...
32.0
----------------------------------------

In [9]:
# Question 5: Use the log2 function from math module to evalute log base 2
# of 32
from math import log2
print("log base 2 of 32 is listed below...")
print(log2(32))
print("-"*40)
print()

log base 2 of 32 is listed below...
5.0
----------------------------------------

In [ ]:
'''
Question 6: Use slicing notation to print the last 6 letters of the string
below. Assume you donot know the start index or the length of the string upfront.
Hint: You will need to use a function to find the length first and then use that,
in combination with the number to come up with the start index
'''
welcome_message = "Hello and welcome to the land of Python"
print(f"The last 6 letters of the welcome message:\n'{welcome_message}'\nare: '**fill in the code here**'")

In [12]:
'''
Solution 6: Use slicing notation to print the last 6 letters of the string
below. Assume you donot know the start index or the length of the string upfront.
Hint: You will need to use a function to find the length first and then use that,
in combination with the number to come up with the start index
'''
welcome_message = "Hello and welcome to the land of Python"
# print(f"The last 6 letters of the welcome message:\n'{welcome_message}'\nare: '**fill in the code here**'")
print(welcome_message[len(welcome_message)-6::]) 
# welcome_message[39-6]:empty(i.e till end):empty(i.e one step right)

Python

39