In [ ]:
import math

## Strings

[Slicing](#slicing)

[Formatting](#print-formatting)

[Functions](#functions)

### Slicing

In [ ]:
# We can use string concatenation and add strings
# together
message = "Welcome to the course"
name = "Mashrur"
print(message + name)

In [ ]:
# Strings are sequences of characters which are indexed
# We can index into a string by using square bracket notation
movie_name = "Interstellar"
print(movie_name[0]) # This will print 'I' which is at index 0
print(movie_name[1]) # This will print 'n' which is at index 1
print(movie_name[11]) # This will print 'r' which is the last character
print(movie_name[-1]) # This will print 'r', last character
print(movie_name[-2]) # This will print 'a', second to last character

In [ ]:
# We can use slicing to select portions of the string
movie_name = "Interstellar"

print(movie_name[0:5]) # This will print 'Inter'

# We can leave the starting 0 out if we start at at the beginning to get 'Inter' as well
print(movie_name[:5])

In [ ]:
movie_name = "Interstellar"
print(movie_name[5:]) # This will print 'stellar', begin index to end
print(movie_name[:]) # This will print "Interstellar", begin to end
print(movie_name[5:9]) # This will print 'stel'

In [ ]:
# You can specify step size as optional third argument
# This will print 'se', moving forward by 2 steps instead of the default 1
movie_name = "Interstellar"

print(movie_name[5:9:2]) 
print(movie_name[::2]) # This will print "Itrtla"
# This will reverse the string and print 'ralletsretnI'
print(movie_name[::-1])

In [ ]:
# We can add an empty space in there too
print(message + " " + name)

In [19]:
name = 'My name is Ryan Mitchell'

In [2]:
name[0]

'M'

In [3]:
name[1]

'y'

In [4]:
name[0:7]

'My name'

In [5]:
name[:7]

'My name'

In [6]:
name[11:]

'Ryan Mitchell'

In [7]:
myList = [1,2,3,4,5]

In [8]:
myList[2:4]

[3, 4]

In [9]:
len(name)

24

In [10]:
len(myList)

5

### Functions
__[Resource](https://docs.python.org/3/library/stdtypes.html#string-methods)__

In [ ]:
# Sample list
my_list = [1, 2, 3, 4, 5]

# len() - Returns the length of the list
print(len(my_list))  # Output: 5

# type() - Returns the type of an object
print(type(my_list))  # Output: <class 'list'>

# id() - Returns the unique identifier of an object
print(id(my_list))  # Output: <unique identifier>

# dir() - Returns a list of attributes and methods of an object
print(dir(my_list))

In [ ]:
# Sample string
my_string = "   hello world!   "

# capitalize() - Capitalizes the first character of a string
print(my_string.capitalize())  # Output: "   hello world!   "

# upper() - Converts a string to uppercase
print(my_string.upper())  # Output: "   HELLO WORLD!   "

# lower() - Converts a string to lowercase
print(my_string.lower())  # Output: "   hello world!   "

# strip() - Removes leading and trailing whitespace from a string
print(my_string.strip())  # Output: "hello world!"

# find() - Returns the index of the first occurrence of a substring within a string
print(my_string.find("world"))  # Output: 7

# split() - Splits a string into a list of substrings based on a delimiter
print(my_string.split())  # Output: ['hello', 'world!']

# join() - Concatenates a list of strings into a single string using a specified delimiter
my_list = ['hello', 'world!']
print(' '.join(my_list))  # Output: "hello world!"

### Print Formatting

In [12]:
## Print formatting
# We'll check out 3 ways to format print statements.
# String interpolation using format and f'strings
# and simple usage of comma
# String Interpolation: String interpolation is embedding variables
# or other objects to be evaluated within the String

stock_price = 1100
print("Today's price for google stock is:", stock_price)
print("Today's price for google stock is: {}".format(stock_price))
print(f"Today's price for google stock is: {stock_price}")

Today's price for google stock is: 1100
Today's price for google stock is: 1100
Today's price for google stock is: 1100

In [13]:
# We can interpolate multiple values
today_price = 1100
yesterday_price = 1000
print("Today's price:", today_price, "yesterday's price:", yesterday_price)
print("Today's price: {}, yesterday's price: {}".format(today_price, yesterday_price))
print(f"Today's price: {today_price}, yesterday's price: {yesterday_price}")

Today's price: 1100 yesterday's price: 1000
Today's price: 1100, yesterday's price: 1000
Today's price: 1100, yesterday's price: 1000

In [14]:
# Special characters
# \ - is an escape character, it escapes the special character
# following it in a string
# \n - species new line within the string
# \t - adds a tab in it's place within the string
print("My name is jon snow and not only do I know nothing but I also do nothing")

# This statement can be broken into multiple lines with \
print("My name is jon snow and \
not only do I know nothing but \
I also do nothing")

My name is jon snow and not only do I know nothing but I also do nothing
My name is jon snow and not only do I know nothing but I also do nothing

In [16]:
# \n can be used to print in multiple lines with
print("My name is jon snow\nI know nothing\nI also do nothing")

My name is jon snow
I know nothing
I also do nothing

In [17]:
# \t can be used to introduce tabs in the lines
print("My name is jon snow\n \tI know nothing\n\t\tI also do nothing")

My name is jon snow
 	I know nothing
		I also do nothing

In [18]:
# \t usage elsewhere
print("My name is jon snow\n\tI know\t\tNOTHING\n\t\tI also DO nothing")

My name is jon snow
	I know		NOTHING
		I also DO nothing

In [19]:
# \ can be used to escape the special character meaning
print("I'm using the \\n special character to create new lines")

I'm using the \n special character to create new lines

In [ ]:
# Question:
# What would be the output of the program below:

name_of_book = "Harry Potter"
name_of_book.upper()
name_of_book = name_of_book[::-1]
new_name_of_book = name_of_book
new_name_of_book.lower()
name_of_book = new_name_of_book.upper()
new_name_of_book = name_of_book[::-1]
print(name_of_book)
print(new_name_of_book)

In [11]:
'My number is: '+str(5)

'My number is: 5'

In [12]:
f'My number is: {5}'

'My number is: 5'

In [14]:
f'My number is: {5} and twice that is {2*5}'

'My number is: 5 and twice that is 10'

In [16]:
f'Pi is: {math.pi:.2f}'

'Pi is: 3.14'

In [17]:
'Pi is: {}'.format(math.pi)

'Pi is: 3.141592653589793'

### Multi-line Strings

In [21]:
myString = '''
Here is a long block of text
I can add newlines!
the text doesn't stop until it sees \'\'\'

'''

In [22]:
myString

"\nHere is a long block of text\nI can add newlines!\nthe text doesn't stop until it sees '''\n\n"

In [23]:
print(myString)

Here is a long block of text
I can add newlines!
the text doesn't stop until it sees '''